:root {
  --white-background: #fff;
}

.marker-cluster-100 {
  background-color: rgba(202, 220, 39, 0.208);
}
.marker-cluster-100 div {
  background-color: rgba(220, 204, 27, 0.6);
}
.marker-cluster-500 {
  background-color: rgba(139, 118, 32, 0.6);
}
.marker-cluster-500 div {
  background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-1000 {
  background-color: rgba(82, 209, 238, 0.6);
}
.marker-cluster-1000 div {
  background-color: rgba(27, 135, 213, 0.6);
}
.marker-cluster-2000 {
  background-color: rgba(115, 20, 188, 0.6);
}
.marker-cluster-2000 div {
  background-color: rgba(233, 16, 128, 0.6);
}
.marker-cluster-large {
  background-color: rgba(234, 19, 27, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}



body {
  padding: 0;
  margin: 0;
  /* background-color: #f3f2; */
}

a {
  cursor: pointer;
}

.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white-background);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}

.header-main-logo {
  width: fit-content;
  height: 100%;
  padding-left: 40px;
  display: flex;
}

.header-main-logo img {
  height: 40px;
  align-self: center;
}

.header-main-nav {
  width: 500px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input[type="radio"]{
  /* padding-left: 1000px; */
  font-family: 'Roboto', sans-serif;
  height: 60px;
}

.cluster-map {
  padding: 10px;
  height: 100%;
  width: 100%; */
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  display: block;
  text-align: center;
  position: relative;
}

.issue-analysis {
  padding-left: 80px;
  padding-right: 80px;
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
}


.cluster-map header{
  position: relative;
  top: 0;
  transform: translate(0, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  text-align: center;
  background: white;
}

.home-page {
  padding: 10px;
  height: 100%;
  width: 100%; */
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  display: block;
  text-align: center;
  position: relative;
}


#map,
body,
html {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  height: 100%;
  line-height: 60px;
  color: #000;

}


